# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# macOS system files
.DS_Store

# Generated images
art_output.png
samples/*.png
